
.menu-top-div{
    
margin-top:0px;
position: relative;    
 
}

.weather{
    
position: absolute;
top: 0px;
left: 10px; 
padding: 0px;
background-color: transparent;
border: 0px;
color:yellow;
font-size: .5em !important;
}


img.header{
    
   width:100%;
    height:165px;
    border:0px solid;
    
}
#menu-top-img p{
    
    text-align:center;
    font-size:22px;
    color:white;
}


.divMenuBar {
    background-color:#404040 ;
    
}


#divMenuBar ul
{
   list-style-type: none;
   padding:10px;
}

#divMenuBar li {
float: left;
margin-right: 10px;
}

/*

div.navbar-collapse a:hover {
  

letter-spacing:.1.5em;
font-size:22px;
transition:font-size 1s,letter-spacing 1s;
}*/
footer
{
    background-color:#E8E8E8;
    position:relative;
    width:100%;
    bottom:0px;
    height:25px;
     text-align:center;
    font-size:1em;
    color:black;
}
.news-national{
  
    
    
}
.Story-heading
{
    
    font-size:20px;
}
.table-heading-row
{
    
    background-color: whiteSmoke;
    padding: 0;
    zoom: 1;
    height: 35px;
}
#tblStory tr td
{
    width:200px;
    font-size:12px;
}
.div-story{
   
    
}


.menuitem
{
    color:white !important;
    
}

.dropdown-toggle
{
  background-color:#404040 ;
    
}
.dropdown-menu
{
    
}
#tblContacts thead
{
    
    
}

#secLeftSidebar
{
    
    padding-bottom: 20px;
    
}

.border-right
{
  border-right: dotted 1px black;
  max-height: 500px;
  float: left;

}

.border-left
{
    border-left: dotted 1px black;
}

.marquee {
  width: 200px;
  overflow: hidden;
  border: 0px solid #ccc;
  
}

.chat-msgs
{
    width: 100%;
    height: 200px;
    border:1 solid black;
    background-color: #FCF7F7;
    margin-left: 0px;
    padding-left: 0px;
    
}
.chat-table 
{
    border:1px;
    width:100%;
    
}
.chat-msgs{
    
    overflow:auto;

}
.chat-msgs ul 
{
   
   margin-left:2px;
   padding-left: 0px;
   background-color: none;
    
}
.chat-msgs ul li
{
   text-decoration: none;
   font-style: italic;
   list-style: none;
   margin-left:-2px;
   padding-left: 0px;
   color: black;
    
}



.chat-msg
{
    width:90%;
    height: 20px;
    
}

.overlap-image
{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: blue;
}
.overlap-image:after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
   
}
.chat-user{
    
overflow:auto;
background-color: #DEDADA;
height: 100%;
width: 100%;

    
}
.chat-user ul
{
    margin-left:2px;
   padding-left: 0px;
   background-color: none;
   font-style: bold;
    
}
.chat-user ul li
{
       list-style: none;
       color: blue;
    
}

.chat-wrapper{
   
   
  
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.videoWrapper{
    
    min-width: 320px; position: relative; margin: 10px 0px; max-width: 888.889px;
}
.videobox { position: relative; }

.videobox span {
display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  height:50px;
  width:45px;
background: transparent url(/resources//img/play.png) no-repeat center center;
}
#tweets{
    list-style: none;
    
}
#tweets li{
    font-size:.85em;
    border-bottom: dashed 1px black;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
.small-text-grey{
    font-size: 9px;
    color: grey;
    font-style: italic
    
}